﻿#buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}

#buttons label, button, input {
    margin: 10px;
    padding: 10px;
    background-color: blanchedalmond;
}

#buttons label {
    font-weight: bolder;
}
